* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*here I'm adding opacity to the whole screen when the sidebar open, like on youtube(took the idea from there*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.sidebar.active + .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar.active {
  left: 0;
}

/* these two themes below are for the different themes for the whole webpage*/
.black-theme {
  background-color: rgb(15, 14, 14);
  color: white;
}

.white-theme {
  background-color: rgb(223, 220, 220);
  color: grey;
}

/*but this one is kind og the default color for the page, before the user decides to choose or white or black, this is the color the appears as soon as we open the todo list page*/
body {
  background-color: rgb(223, 220, 220);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  left: -250px; /* Start hidden */
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0; /* Show when open */
}

.sidebar-icon {
  position: fixed;
  top: 10px;
  left: 0px;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px;
}

.sidebar-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #716f6f;
  margin-bottom: 5px;
}

.sidebar-header {
  text-align: center;
  padding-top: 35%;
  padding-bottom: 10%;
  color: grey;
}

.side-bar-button {
  padding: 10px;
  margin-top: 45px;
  font-size: 110%;
  background-color: rgb(119, 118, 118, 0.5);
  color: whitesmoke;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 9%;
  width: 200px;
}

.side-bar-button:hover {
  background-color: #747474;
  cursor: pointer;
}

/*creating the dropdown buttons*/

.dropdown-content {
  position: relative;
  display: inline-block; /*makes the dropdown button appear to the right side instead*/
}

#email,
#black {
  position: absolute;
  top: 120%;
  left: 100%; /*also this line was updated so the dropdown apear to the right side */
  display: none;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 9%;
  width: 200px;
  font-size: 110%;
}

#phone {
  position: absolute;
  top: 200%;
  left: 100%; /*also this line was updated so the dropdown apear to the right side */
  display: none;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 9%;
  width: 200px;
  font-size: 110%;
}

#white {
  position: absolute;
  top: 200%;
  left: 100%; /*also this line was updated so the dropdown apear to the right side */
  display: none;
  background-color: rgb(255, 255, 255, 0.6);
  padding: 10px;
  color: black;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 9%;
  width: 200px;
  font-size: 110%;
}

/*CURRENT DATE OF THE DAY STYLING*/

#current-date {
  font-size: 20px;
  margin-left: 21%;
  color: #747474;
  margin-top: 5%;
}

/*STYLING FOR THE GREETING BOX*/

#greeting-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  display: flex;
  align-items: center;
  color: black;
  width: 30%;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 2%;
  font-size: 140%;
  color: rgb(100, 98, 98);
}

/*STYLING FOR THE SEARCH BOX*/

#search-container {
  margin-top: 40px;
  margin-left: 20%;
  position: relative; /* wrote the position and display so my font awesome icon could appear on top of my search bar*/
  display: inline-block;
  width: 50%;
}

#search-input {
  width: 50%;
  font-size: 110%;
  border-radius: 10px;
  padding-left: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 0px;
  color: #757575;
  background-color: rgb(255, 255, 255, 0.8);
  outline: none; /*so the blue deafault line wont appear*/
}

/*added that instead when the mouse clicks on the search bar the border color becomes grey 
used html and css only, no need for JS*/
#search-input:focus {
  outline: none;
  border: 2px solid rgb(166, 161, 161);
}

#search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-results li {
  padding: 5px;
  background-color: #cccccc;
  margin-bottom: 5px;
}

/*The .search-icon class is absolutely positioned inside the container to appear as a placeholder icon inside the input field.
*/
.fa-magnifying-glass {
  color: grey;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(
    -50%
  ); /*The translateY function moves an element along the Y-axis (vertically). The value -50% moves the element up by 50% of its own height.*/
  pointer-events: none; /* Prevent the icon from blocking input field interaction */
}

/*ADD TASKS BUTTON STYLING*/

#add-task-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 250%;
  background-color: rgb(52, 133, 165, 0.5);
  color: whitesmoke;
  border: none;
  border-radius: 65%; /*making the button a circle*/
  width: 65px;
  height: 65px;
}

#add-task-button:hover {
  cursor: pointer;
  background-color: rgb(52, 133, 165, 0.7);
}


.task-form {
  position: fixed;
  top: 10%;
  left: 60%;
  height: auto;
  background-color: rgba(76, 153, 184, 0.5);
  padding: 5%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

/*.container {
  padding: 20px;
  overflow: visible;
}*/
.task-picture, .task-audio {
  display: block;
  width: 100px;
  height: 40px;
  margin: 10px 0;
}


.task-form.open {
  transform: translateY(0); /*so the task-form appears when clicked on*/
}

.task-form.hidden {
  /*transform: translateY(100%); when i added this the form was half way up in the screen and not completly hidden*/
  display: none;
}

.task-form h2 {
  color: white;
  margin-bottom: 15%;
}

.task-form form {
  display: grid;
  margin-bottom: 20%;
}

.task-form input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 105%;
  outline: none;
  padding-left: 10%;
}

.task-form label {
  font-weight: bold;
  color: white;
}

.task-form input,
.task-form select {
  width: 100%;
  padding: 10px;
  color: grey;
  outline: none;
}

#submit-task-button {
  padding: 5px 10px;
  background-color: #4098f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 115%;
  margin-top: 5%;
  margin-bottom: -30px;
}

.task-form.hidden {
  display: hidden;
}

/*ADDING TASKS UNDER THE SEARCH BOX STYLING*/

#added-tasks-container {
  margin-top: 4%;
  margin-left: 19.5%;
  margin-bottom: 10%;
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

.task-container {
  background-color: rgb(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
  padding: 15px;
  display: flex; /*added this here so the task container would be resizeble according to the content inside*/
  justify-content: space-between;
  align-items: center;
}

.task-info {
  /*display: flex; adding display flex styling below made the content appear next to each other and not one on top of the other
  align-items: center;
  justify-content: space-between;*/

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task {
  padding: 2px;
  color: black;
}

.task-hour {
  font-size: 115%;
  color: #888;
}

.task-date {
  font-size: 110%;
  color: #666;
  margin-left: auto;
}

.task-name {
  color: rgb(61, 132, 255);
  font-size: 130%;
}

/*delete button in the task*/

.delete-button {
  background-color: rgb(254, 4, 4, 0.5);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: auto;
}

.delete-button:hover {
  background-color: rgb(139, 0, 0, 0.5);
}
